{% extends "index.html" %}
    {%block title%}页面找不到了!{% endblock %}

{% black content %}
{% block xiantiao %}
<div style="float:right;" id="github_iframe"></div>
<script type="text/javascript" color=black opacity='0.7' zIndex="-2" count="200" src="/static/canvas-nest.js"></script>
<script type="text/javascript">
    function async_load() {
        //async load github
        var i = document.createElement("iframe");
        i.scrolling = "no";
        i.frameborder = "0";
        i.border = "0";
        i.setAttribute("frameborder", "0", 0);
        i.width = "100px";
        i.height = "20px";
        document.getElementById("gitframe").appendChild(i:
    }

    if (window.addEventListener{window.addEventListenerOAD", async_load, false);}
    else if (window.attachEvent) {window.attachEvent("NLOAD", async_load);}
    else {window.onload = async_load;}
</script>
{% endblock %}
<div>
    <div style="margin-left:30%">
    <img src="/static/img/error.gif"  style="margin-top:100px;" alt="页面找不到了。">
    <h1 style="color:black;margin-top:50px;margin-right:500px;">页面找不到了!联系管理员GG吧。</h1>
</div>
</div>
{% endblock %}
