{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block head %}
{{super()}} <!-- 此处引用了flask的css文件 -->
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<link rel="shortcut icon" href="{{url_for('static',filename='favicon.ico')}}" type="image/x-icon">
<link rel="icon" href="{{url_for('static',filename='favicon.ico')}}" type="image/x-icon">
{% endblock %}
{% block title%}我的个人网站!{% endblock %}

{% block scripts %}
{{super()}} <!-- 此处引用flask自带的js库 -->
{{moment.include_moment()}}
{% endblock %}

{%block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" style="color:white">首页</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav" style="color:white">
                <li><a href="/" style="color:white">Home</a> </li>
            </ul>
            <ul class="nav navbar-nav" style="color:white">
                <li><a href="/love" style="color:white">LOVE</a> </li>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}
{% block xiantiao %}
<div style="float:right;" id="github_iframe"></div>
<script type="text/javascript" color=black opacity='0.7' zIndex="-2" count="200" src="/static/canvas-nest.js"></script>
<script type="text/javascript">
    function async_load() {
        //async load github
        var i = document.createElement("iframe");
        i.scrolling = "no";
        i.frameborder = "0";
        i.border = "0";
        i.setAttribute("frameborder", "0", 0);
        i.width = "100px";
        i.height = "20px";
        document.getElementById("gitframe").appendChild(i);
    }

    if (window.addEventListener){window.addEventListener("LOAD", async_load, false);}
    else if (window.attachEvent) {window.attachEvent("ONLOAD", async_load);}
    else {window.onload = async_load;}
</script>
{% endblock %}
<div class="container">
    {% for message in get_flashed_messages() %}
                            <div class="alert alert-success">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                {{ message }}
                            </div>
                        {% endfor %}
    <div class="page-header">
        <h1 style="text-align:center">{{ name if name else "Hello" }},欢迎来到我的个人网站!</h1>
    </div>
    <div style="text-align:center;margin-top:100px;">
        {{wtf.quick_form(form)}}
    </div>
</div>
{% endblock %}
